body {
    background-color:rgb(174, 245, 246);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
fieldset {
    border-radius: 10px;
    border: 5px solid rgb(138, 222, 246);
}

legend {
    font-weight: bold;
}
label {
    font-weight: bold;
}
input[type="reset"],
input[type="submit"] {
    border-radius: 25px;
    width: 100px;
    height: 30px;
    font-weight: bold;
}

input[type="reset"] {
background-color: rgb(221, 121, 121);
}

input[type="submit"] {
    background-color: rgb(138, 222, 246);
}